
streamlit
streamlit-webrtc
st-audiorec
langchain
langchain-community
langchain-core
ollama
pdfplumber
pypdf
pandas
numpy
faiss-cpu
pyttsx3
openai-whisper
soundfile
pydub
pillow
tqdm
watchdog
