streamlit==1.35.0
streamlit-webrtc==0.48.0
st-audiorec==0.1.0
langchain==0.1.20
langchain-community==0.0.32
langchain-core==0.1.52
ollama==0.1.7
pdfplumber==0.11.0
pypdf==3.17.4
pandas==2.2.2
numpy==1.26.4
faiss-cpu==1.7.4
pyttsx3==2.90
openai-whisper==20230314
soundfile==0.12.1
pydub==0.25.1
pillow==10.3.0
tqdm==4.66.4
watchdog==4.0.1
